body {
	margin: 20px 10px;
	padding: 0;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
	font-size: 10px;
}

h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

#calendar {
	max-width: 900px;
	margin: 0 auto;
}


.vis.timeline .item {
  padding: 1px;
  background-color: #DDDEDF;
  border-color: #929497;
  cursor: pointer;
}

.vis.timeline .item:hover {
  background-color: #DDDEDF;
  border-color: #929497;
  cursor: pointer;
}

.vis.timeline .item.selected {
  background-color: #FECB51;
  border-color: #929497;
}

.vis.timeline .currenttime {
  background-color: #DE00A5;
  width: 2px;
}